.fire-img {
  width: 100%;
}
.fire-img img {
  object-fit: contain;
  width: 100%;
}
.fire-text {
  margin-top: -18%;
  text-align: center;
}

.fire-text h1 {
  font-size: 3vw;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}
.fire-text p {
  font-size: 1.5vw;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

/*----------------------card section----------------*/
.fire-card-section {
  margin-top: 15%;
}
.fire-cards-grid {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 50px;
}
.fire-cards-grid-mobile {
  display: none;
}
.fire-card {
  font-family: Arial, Helvetica, sans-serif;
  width: 27%;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.fire-card-icon {
  width: 100%;
  padding-top: 70px;
}
.fire-card-icon img {
  width: 20%;
}
.fire-card-head {
  padding-top: 20px;
  font-size: 1vw;
}
.fire-card-body {
  padding: 10px 30px 70px 30px;
  font-size: 0.8vw;
}

@media screen and (max-width: 1285px) {
  .fire-cards-grid {
    gap: 40px;
    margin-left: 100px;
    margin-right: 100px;
  }
  .fire-card {
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
  }
  .fire-card-body {
    padding: 10px 15px 40px 15px;
  }
  .fire-card-icon {
    padding-top: 40px;
  }
}

@media screen and (max-width: 790px) {
  .fire-cards-grid {
    gap: 30px;
  }
  .fire-card {
    width: 35%;
  }
}

@media screen and (max-width: 660px) {
  .fire-cards-grid {
    display: none;
  }
  .fire-cards-grid-mobile {
    margin-left: 25px;
    margin-right: 25px;
    justify-content: center;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
  }
  .fire-card {
    width: 40%;
  }
  .fire-card-head {
    font-size: 10px;
  }
  .fire-card-body {
    font-size: 8px;
  }
}
@media screen and (max-width: 520px) {
  .fire-img {
    width: 100%;
    height: 300px;
  }
  .fire-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .fire-text {
    margin-top: -250px;
    text-align: left;
    margin-left: 25px;
    margin-right: 25px;
  }
  .fire-text h1 {
    font-size: 25px;
  }
  .fire-text p {
    font-size: 13px;
    padding-top: 5px;
  }
}
