.logo-flex {
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
}
.logo-head {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
}
.logo-block {
  display: grid;
  grid-template-columns: repeat(8, auto);
}
.logo img {
  width: 100%;
  transition: 0.4s;
}
.logo img:hover {
  box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1285px) {
  .logo-flex {
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media screen and (max-width: 660px) {
  .logo-flex {
    margin-left: 25px;
    margin-right: 25px;
  }
}
