.csr-main {
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 50px;
  padding-right: 50px;
  background-image: url("../../Images/csr.png");
  background-size: cover;
}
.csr-title {
  text-align: center;
}
.csr-title h1 {
  font-size: 3vw;
  color: white;
}

.csr-text {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  font-size: 1.15vw;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 200px;
  padding-right: 200px;
}
.csr-left-text {
  width: 100%;
}
.csr-right-text {
  width: 100%;
}

@media screen and (max-width: 1285px) {
  .csr-text {
    gap: 30px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (max-width: 660px) {
  .csr-text {
    gap: 20px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 13px;
    flex-direction: column;
  }
}

@media screen and (max-width: 520px) {
  .csr-main {
    width: 100%;
    height: 200px;
  }
  .company-hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .csr-title h1 {
    font-size: 25px;
  }
}
