.our-mission {
  padding-top: 115px;
  padding-bottom: 115px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: url("../../Images/mission.png");
  background-size: cover;
}
.our-mission-content {
  margin-left: 200px;
  margin-right: 200px;
  color: white;
}
.mission-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4vw;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.mission-body {
  font-size: 1.15vw;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*----------------------text section---------------------*/
.mission-text {
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 200px;
  padding-right: 200px;
}
.mission-text-flex {
  display: flex;
  gap: 70px;
  justify-content: space-between;
  font-size: 1.15vw;
  font-family: Arial, Helvetica, sans-serif;
}
.right-text {
  width: 100%;
}
.left-text {
  width: 100%;
}

@media screen and (max-width: 1285px) {
  .our-mission {
    padding-left: 25px;
    padding-right: 25px;
  }
  .our-mission-content {
    margin-left: 100px;
    margin-right: 100px;
  }
  .mission-text {
    padding-top: 0px;

    padding-left: 100px;
    padding-right: 100px;
  }
  .mission-text-flex {
    gap: 30px;
  }
}
@media screen and (max-width: 660px) {
  .our-mission-content {
    margin-left: 25px;
    margin-right: 25px;
  }
  .mission-text {
    padding-left: 25px;
    padding-right: 25px;
  }
  .mission-title {
    font-size: 17px;
  }
  .mission-body {
    font-size: 13px;
  }
  .mission-text-flex {
    flex-direction: column;
    font-size: 13px;
  }
}
