.more-about {
  padding-left: 200px;
  padding-right: 200px;
  background: black;
}
.more-about-title {
  font-size: 1.4vw;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding-top: 70px;
}
.more-about-flex {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  font-size: 1.15vw;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding-top: 20px;
  padding-bottom: 70px;
}
.more-left-text {
  width: 50%;
}
.more-right-text {
  width: 50%;
}
.text-title {
  font-size: 1.4vw;
}
