/*------------footer 1st section--------------*/

.footer-1 {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  background: #efefef;
}
.left-text-foot {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}
.right-text-foot {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*------------footer 2nd section--------------*/

.footer-2 {
  display: flex;
  justify-content: space-evenly;
  padding-left: 25px;
  padding-right: 25px;
}
.foot-img img {
  width: 80%;
}

/*------------footer 3rd section--------------*/

.footer-3 {
  display: flex;
  justify-content: space-between;
  background: #981914;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.left-text-3 {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.9vw;
}
.right-text-3 {
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 5px;
  padding-top: 5px;
}
.right-text-3 i {
  padding-right: 10px;
  font-size: 0.9vw;
}
