.products-img {
  width: 100%;
}
.products-img img {
  object-fit: contain;
  width: 100%;
}
.products-text {
  margin-top: -18%;
  text-align: center;
}
.products-text h1 {
  font-size: 3vw;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}
.products-text p {
  font-size: 1.5vw;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}
.products-foot {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8vw;
  padding-top: 10%;
  text-align: center;
  color: white;
}

/*---------------------------------product card-----------------------------*/

.whole-flex {
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
}
.product-card-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 30px;
}
.product-card {
  width: 27%;
  overflow: hidden;
}
.product-card img {
  width: 100%;
  border-radius: 10%;
}
.pc-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15vw;
  padding: 10px 10px 10px 10px;
}
.pc-text b {
  font-size: 1.2vw;
}
.pc-text p {
  padding-top: 10px;
}

@media screen and (max-width: 1285px) {
  .whole-flex {
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media screen and (max-width: 660px) {
  .whole-flex {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .product-card-flex {
    gap: 10px;
    justify-content: center;
  }
  .pc-text p {
    display: none;
    font-size: 9px;
  }
  .pc-text b {
    font-size: 12px;
  }
}
@media screen and (max-width: 520px) {
  .products-img {
    width: 100%;
    height: 200px;
  }
  .products-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .products-text {
    margin-top: -100px;
    text-align: left;
    margin-left: 25px;
    margin-right: 25px;
  }
  .products-text h1 {
    font-size: 25px;
  }
  .products-text p {
    font-size: 13px;
    padding-top: 5px;
  }
}
