.contact-img {
  width: 100%;
}
.contact-img img {
  object-fit: contain;
  width: 100%;
}
.contact-head {
  margin-left: 200px;
  margin-right: 200px;

  margin-top: 50px;
  margin-bottom: 20px;
}
.contact-head h1 {
  font-size: 2vw;
  font-family: Arial, Helvetica, sans-serif;
}

/*-----------------------------------------------------------*/

.form-flex {
  display: flex;
  margin-left: 200px;
  margin-right: 200px;
  gap: 10px;
}
.left-form {
  margin-bottom: 10px;
}
.form1 {
  width: 70%;
}
.form2 {
  width: 70%;
}
.cfield {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 47px;
  font-size: 0.9vw;
  background: #c4c4c4;
  border-radius: 10px;
  border: 0px;
  padding: 12px;
}
.mfield {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9vw;
  width: 100%;
  background: #c4c4c4;
  border-radius: 10px;
  border: 0px;
  padding-left: 12px;
  padding-top: 12px;
  word-wrap: break-word;
}
.cfield::placeholder {
  color: black;
}
.mfield::placeholder {
  color: black;
}
.form-button {
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 50px;
  margin-top: 10px;
  text-align: right;
}
.form-btn {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 30px;
  font-size: 0.9vw;
  border-radius: 40px;
  background-color: #c4c4c4;
  color: black;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: right;
}
.contact-details {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 70px;
}
.details-head {
  margin-bottom: 10px;
}
.details-head h2 {
  font-size: 2vw;
}
.details-body {
  font-size: 1.15vw;
}
